@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* this is for the home animation in Three.js to use */
  --accent: #e6594c;

  /* these are for svg illustrations to respond to light/dark mode */
  --illustration-background: #fafafa;
  --illustration-black: #262626;
  --illustration-gray: #d4d4d4;
  --illustration-accent: var(--accent);
}

.dark {
  --illustration-background: #27272a;
  --illustration-black: #d4d4d8;
  --illustration-gray: #4b5563;
}

@layer components {
  .prose aside {
    @apply my-6 py-3 px-5 rounded-lg border border-neutral-300 dark:border-neutral-600 bg-neutral-100 dark:bg-neutral-800;
  }

  .prose aside::before {
    @apply block text-sm font-medium text-neutral-500 dark:text-neutral-400 content-["Note"];
  }

  .prose aside.warning {
    @apply border-amber-300 dark:border-amber-800 bg-amber-50 dark:bg-amber-800 dark:bg-opacity-30;
  }

  .prose aside.warning::before {
    @apply text-amber-800 dark:text-amber-700 content-["Warning"];
  }

  .prose aside.warning a {
    @apply decoration-amber-300 dark:decoration-amber-700;
  }

  .prose aside.demo {
    @apply border-blue-200 dark:border-blue-800 bg-blue-50 dark:bg-blue-800 dark:bg-opacity-30;
  }

  .prose aside.demo::before {
    @apply text-blue-800 dark:text-blue-500 content-["Demo"];
  }

  .prose aside.demo a {
    @apply decoration-blue-200 dark:decoration-blue-500;
  }

  .prose:not(.not-prose) aside p {
    @apply mt-1 mb-0 leading-normal;
  }
}

.prose :where(img):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  @apply w-full h-auto bg-neutral-50 dark:bg-neutral-800;
}

.prose :where(svg):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  @apply w-full h-auto bg-neutral-50 dark:bg-neutral-800;
}

.prose :where(pre):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  @apply py-5 px-6;
}

/*@keyframes circle-in-top-right {*/
/*  from {*/
/*    clip-path: circle(0%);*/
/*  }*/
/*  to {*/
/*    clip-path: circle(150% at top right);*/
/*  }*/
/*}*/

/*!* view transition will cross-fade in user prefers reduced motion *!*/
/*@media (prefers-reduced-motion: no-preference) {*/
/*  !* old page can just sit there *!*/
/*  ::view-transition-old(root) {*/
/*    animation: none;*/
/*  }*/

/*  !* new page can do fancy stuff! *!*/
/*  ::view-transition-new(root) {*/
/*    animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-top-right forwards;*/
/*  }*/
/*}*/