@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {*/
/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/

/*@layer utilities {*/
/*  .text-balance {*/
/*    text-wrap: balance;*/
/*  }*/
/*}*/

@font-face {
  font-family: "Ideal Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/IdealSansSSm-Book-Pro_Web.woff2") format("woff2");
}

@font-face {
  font-family: "Ideal Sans";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/IdealSansSSm-BookItalic-Pro_Web.woff2") format("woff2");
}

@font-face {
  font-family: "Ideal Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/IdealSansSSm-Bold-Pro_Web.woff2") format("woff2");
}

@font-face {
  font-family: "Operator";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/OperatorSSm-Bold-Pro_Web.woff2") format("woff2");
}

@font-face {
  font-family: "ForzaA";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ForzaSSm-Black-TD-Space.woff") format("woff");
}

@font-face {
  font-family: "ForzaB";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ForzaSSm-Black-TD-Space.woff") format("woff");
}

@font-face {
  font-family: "ForzaA";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/ForzaSSm-BlackItalic-TD-Space.woff") format("woff");
}

@font-face {
  font-family: "ForzaB";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/ForzaSSm-BlackItalic-TD.woff") format("woff");
}

@font-face {
  font-family: "Operator Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/OperatorMonoSSm-Book.woff2") format("woff2");
}

@font-face {
  font-family: "Operator Mono";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/OperatorMonoSSm-BookItalic.woff2") format("woff2");
}

.prose {
  @apply max-w-none;
}

.dark .prose {
  @apply text-neutral-100;
}

.full-post .prose::first-line {
  font-variant-caps: small-caps;
}

.prose h1 {
  @apply mb-4 font-forza italic font-bold text-5xl text-balance tracking-tighter text-accent;
}

.prose :is(h2, h3, h4, h5, h6) {
  @apply text-neutral-900 dark:text-neutral-100;
}

.prose h2 {
  @apply mt-16 mb-3 font-forza font-bold;
}

.prose p code {
  @apply font-operator;

  color: inherit;
}

.prose p code::before, .prose p code::after {
  @apply content-none;
}

.prose pre {
  @apply p-6 bg-neutral-800;
}

.prose pre code {
  @apply font-operator-mono;
}

/*.prose pre {*/
/*  @apply -mx-12;*/
/*}*/

.prose a {
  @apply hover:no-underline text-accent;
}

.prose img {
  @apply aspect-video bg-neutral-200 dark:bg-neutral-800;
}