@font-face {
  font-family: "ETBook";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/etbookot-roman-webfont.woff") format("woff"), url("/fonts/etbookot-roman-webfont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "ETBook";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/etbookot-italic-webfont.woff") format("woff"), url("/fonts/etbookot-italic-webfont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "ETBookLiningFigures";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/et-book-roman-line-figures.woff") format("woff");
  font-display: swap;
}