@font-face {
  font-family: "ETBook";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/etbookot-roman-webfont.woff") format("woff"), url("/fonts/etbookot-roman-webfont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "ETBook";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/etbookot-italic-webfont.woff") format("woff"), url("/fonts/etbookot-italic-webfont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "ETBookLiningFigures";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/et-book-roman-line-figures.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Palatino";
  src: local("Palatino");
  size-adjust: 90%; /* Adjust the size to match the primary font */
}

@font-face {
  font-family: "Iowan Old Style";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/iowan-old-style_regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Iowan Old Style";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/iowan-old-style_italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Iowan Old Style";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/iowan-old-style_bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/gt-america-standard-regular.woff2") format("woff2");
  font-display: swap;
}