@import "./fonts.css";
@import "./vars.css";
@import "./overrides.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:focus {
    @apply outline-none ring-0;
  }

  *:focus-visible {
    @apply outline-none ring-1 ring-offset-1 ring-offset-neutral-950 ring-neutral-300;
  }
}

@layer utilities {
  .no-caps {
    font-variant: normal;
  }

  .small-caps {
    font-variant: small-caps;
  }

  .all-small-caps {
    font-variant: all-small-caps;
  }
}

@layer components {
  .article-prose {
    @apply grid grid-cols-12 lg:gap-x-16 text-lg lg:text-xl !leading-normal;
  }

  .article-prose > *:not(:where([class~=not-article-prose],[class~=not-article-prose] *)) {
    @apply col-start-1 col-end-13 lg:col-end-9;
  }

  .article-prose > .toc-wrapper {
    @apply hidden lg:block col-start-9 col-end-13 row-start-1 relative text-lg;
  }

  .toc-wrapper .toc {
    @apply absolute text-neutral-500;
  }

  .article-prose > table {
    @apply col-start-1 col-end-13;
  }

  .article-prose table {
    @apply leading-snug;

    th, td {
      @apply py-4 px-6 border-b border-neutral-700;
    }

    th:first-child, td:first-child {
      @apply pl-0;
    }

    th:last-child, td:last-child {
      @apply pr-0;
    }

    thead th {
      @apply text-left all-small-caps;
    }
  }

  .article-prose > aside:not(:where([class~=not-article-prose],[class~=not-article-prose] *)) {
    @apply col-start-9 col-end-13 relative italic text-lg leading-snug;
  }

  .article-prose > aside p:not(:where([class~=not-article-prose],[class~=not-article-prose] *)) {
    @apply absolute;
  }

  .article-prose :where(p, ul, ol, figure, pre, table):not(:where([class~=not-article-prose],[class~=not-article-prose] *)) {
    @apply mb-4;
  }

  .article-prose :where(p, ul, ol, figure, pre):has(+ figure):not(:where([class~=not-article-prose],[class~=not-article-prose] *)) {
    @apply mb-8;
  }

  .article-prose > figure:not(:where([class~=not-article-prose],[class~=not-article-prose] *)) {
    @apply grid grid-cols-subgrid col-start-1 col-end-13 mb-8;
  }

  .article-prose > figure :where(img, svg, div):not(:where([class~=not-article-prose],[class~=not-article-prose] *)) {
    @apply col-start-1 col-end-9;
  }

  .article-prose > figure figcaption:not(:where([class~=not-article-prose],[class~=not-article-prose] *)) {
    @apply col-start-9 col-end-13 italic text-lg;
  }

  .article-prose > *:has(+ h2):not(:where([class~=not-article-prose],[class~=not-article-prose] *)) {
    @apply mb-16;
  }

  .article-prose > *:has(+ aside + h2):not(:where([class~=not-article-prose] *)) {
    @apply mb-12;
  }

  .article-prose h2:not(:where([class~=not-article-prose],[class~=not-article-prose] *)) {
    @apply mb-4 text-3xl italic;
  }

  .article-prose h3:not(:where([class~=not-article-prose],[class~=not-article-prose] *)) {
    @apply mb-4 text-2xl;
  }

  .article-prose > *:has(+ h3):not(:where([class~=not-article-prose],[class~=not-article-prose] *)) {
    @apply mb-8;
  }

  .article-prose code:not(:where([class~=not-article-prose],[class~=not-article-prose] *)) {
    @apply text-[15px];
  }

  .article-prose pre:not(:where([class~=not-article-prose],[class~=not-article-prose] *)) {
    @apply max-w-full py-3 px-6 text-[15px] whitespace-pre-wrap;
  }

  .article-prose a:not(:where([class~=not-article-prose],[class~=not-article-prose] *)) {
    @apply underline hover:no-underline underline-offset-4 decoration-1;
  }

  .article-prose :where(img):not(:where([class~=not-article-prose],[class~=not-article-prose] *)) {
    @apply w-full h-auto bg-neutral-50 dark:bg-neutral-950;
  }

  .article-prose :where(svg):not(:where([class~=not-article-prose],[class~=not-article-prose] *)) {
    @apply w-full h-auto bg-neutral-50 dark:bg-neutral-950;
  }

  .article-prose :where(ol, ul):not(:where([class~=not-article-prose],[class~=not-article-prose] *)) {
    @apply list-disc ml-4 marker:text-neutral-500;
  }

  .article-prose :where(li):not(:where([class~=not-article-prose],[class~=not-article-prose] *)) {
    @apply mb-1;
  }

  .article-prose blockquote {
    @apply mb-8 pl-5 border-l-4 border-neutral-700 italic;
  }

  .article-prose blockquote p {
    @apply mb-0;
  }

  .article-prose blockquote cite {
    @apply block mt-2 not-italic text-base text-neutral-500;
  }

  .article-prose blockquote cite::before {
    @apply mr-0.5 content-["—"];
  }

  /* Spinner */
  .spinner {
    @apply block fixed top-[15px] right-[15px] z-[1031];
  }

  .spinner-icon {
    @apply w-[18px] h-[18px] border-2 border-transparent border-t-neutral-500 border-l-neutral-500 rounded-full;

    animation: nprogress-spinner 400ms linear infinite;
  }

  @keyframes nprogress-spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
