:root {
  color-scheme: light;

  --accent: #c8102e;
  --accent-subtle: rgba(200, 16, 46, 0.12);

  --illustration-accent: var(--accent);

  /* these are for svg illustrations to respond to light/dark mode */
  --illustration-background: #fafafa;
  --illustration-black: #262626;
  --illustration-gray: #d4d4d4;
}

.dark {
  color-scheme: dark;

  --accent: #e8213d;
  --accent-subtle: rgba(232, 33, 61, 0.15);

  --illustration-background: #1a1a1a;
  --illustration-black: #f5f5f5;
  --illustration-gray: #525252;
}
